<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetirementCalculator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>563C74B82AB3DDD000647CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>563C74C82AB3DDD100647CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>563C74D22AB3DDD100647CC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
